version: "3"

services:
  cronbackup:
    build:
      context: .
    image: cronbackup:latest
    container_name: cronbackup
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp/nodeos-data:/data  #Change the '/tmp/nodeos-data' to the path where you want to backup.
    environment:
      - CONTAINER_NAME=nodeosd 
      - STORAGE_PATH=/backup #The destination dir, support local storage and gs://xxx


